body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  /* Default legend text color */
  color: black;
}

.legend-dark {
  /* Legend text color for CartoDB Dark Matter layer */
  color: white;
}
